<footer class="bg-[#172121] text-white py-8 relative">
    <div class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full max-w-xs md:max-w-md lg:max-w-lg">
      <div class=" w-full h-16 flex items-center justify-center">
        <img src="images/greenpakingscreen.gif" alt="Banner" class="w-100">
      </div>
    </div>
    <div class="container mx-auto px-4 pt-8">
      <div class="flex flex-wrap justify-between">
        <div class="w-full md:w-1/4 mb-6 md:mb-0">
          <h2 class="text-xl font-bold mb-4 flex items-center">
            <img src="images/adiklaas.png" alt="Company Logo" class="h-8 mr-2">
          </h2>
          <p class="text-[#7F7B82]">Leading the industry with innovative solutions and exceptional service.</p>
        </div>
        <div class="w-full md:w-1/4 mb-6 md:mb-0">
          <h2 class="text-xl font-bold mb-4">Quick Links</h2>
          <ul>
            <li><a href="#" class="text-[#7F7B82] hover:text-[#444554]">About Us</a></li>
            <li><a href="#" class="text-[#7F7B82] hover:text-[#444554]">Services</a></li>
            <li><a href="#" class="text-[#7F7B82] hover:text-[#444554]">Contact</a></li>
            <li><a href="#" class="text-[#7F7B82] hover:text-[#444554]">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="w-full md:w-1/4 mb-6 md:mb-0">
          <h2 class="text-xl font-bold mb-4">Resources</h2>
          <ul>
            <li><a href="#" class="text-[#7F7B82] hover:text-[#444554]">Blog</a></li>
            <li><a href="#" class="text-[#7F7B82] hover:text-[#444554]">FAQs</a></li>
            <li><a href="#" class="text-[#7F7B82] hover:text-[#444554]">Support</a></li>
            <li><a href="#" class="text-[#7F7B82] hover:text-[#444554]">Terms of Service</a></li>
          </ul>
        </div>
        <div class="w-full md:w-1/4">
          <h2 class="text-xl font-bold mb-4">Contact Us</h2>
          <p class="text-[#7F7B82]">1234 Street Name, City, State, 12345</p>
          <p class="text-[#7F7B82]">Email: info@company.com</p>
          <p class="text-[#7F7B82]">Phone: (123) 456-7890</p>
        </div>
      </div>
      <div class="mt-8 border-t border-[#444554] pt-4 text-center">
        <p class="text-[#7F7B82]">&copy; 2023 Company Name. All rights reserved.</p>
      </div>
    </div>
  </footer>